<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings - CipherSafe</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://kit.fontawesome.com/e371a44102.js" crossorigin="anonymous"></script>
    <script src="js/script.js" type="module" defer></script>
</head>
<body>
    <%-include('partials/header.ejs') %>


    <div id="errPopup" class="errPopup hidden">
        <div id="errMsgContainer" class="errInfo">
            <span id="popupIconContainer"></span>
            <span id="errMsg"></span>
        </div>
    </div>

<main class="settings-container">

    
    <div class="settings-box">
        <label for="userName">Name</label>
        <div class="details-box">
            <p class="user-details" id="userName"> <%=user.name%> </p>
        </div>
        <label for="userEmail">Email</label>
        <div class="details-box">
            <p class="user-details" id="userEmail"> <%=user.email%> </p>
        </div>
    </div>

    <div class="settings-box">
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" placeholder="Enter current password" />
        <label for="password">New Password</label>
        <input type="password" id="password" placeholder="Enter new password" />
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" placeholder="Enter confirm password" />
        <button id="updatePassword">Update Password</button>
    </div>

    <div class="settings-box">
        <label for="file-permission">Files Storage Permission</label>
        <select id="file-permission">
            <option value="allow" <%= user.isStorageAllowed ? 'selected' : '' %>>Allowed</option>
            <option value="deny" <%= !user.isStorageAllowed ? 'selected' : '' %>>Denied</option>
        </select>
        
    
        <div id="permission-features">
            <p id="allow-feature" style="display:none;">
                <b>Allow Server Storage:<b> Your encrypted files will be stored in your account. 
                You can view your file history, re-download files.  
            </p>
            <p id="deny-feature" style="display:none;">
                <b>Deny Server Storage:<b> Files will only be encrypted and sent to you. 
                The server will not store a copy. If you lose the file or key, it cannot be recovered.  
            </p>
        </div>
    
        <button id="updatePreference" disabled>Update Preference</button>
    </div>
    

    <div class="settings-box">
        <button id="logout-btn">Logout</button>
    </div>
</main>
</body>
</html>