<!DOCTYPE html>
<html lan1="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
    <script src="https://kit.fontawesome.com/e371a44102.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <%-include('partials/header.ejs')%>
    <section class="main-details-section">
        <section class="image-section">
            <img src="<%=data.images.planet%>" alt="planet" id="planetImage">
        </section>
        <section class="content-section">
           <div>
            <div>
                <h1 id="planetName"><%=data.name %></h1>
                <p id="aboutPlanet"><%=data.overview.content %></p>
           </div>
            <div class="planetSrc">
                <p class="source">Source : </p>
                <p class="srcLink"><a href=<%=data.overview.source%> id="srcLink">Wikipedia</a><i class="fa-solid fa-square-up-right"></i></p>
            </div>
            <div id="planetNavigation" data-navColor="<%=color.navColor%>">
                <div id="overview" style="background-color: <%=color.navColor%>;" data-content="<%=data.overview.content%>" data-url="<%=data.images.planet%>" data-source="<%=data.overview.source%>">
                    <p>01</p>
                    <p>Overview</p>
                </div>
                <div id="internal" data-content="<%=data.structure.content%>" data-url="<%=data.images.internal%>" data-source="<%=data.structure.source%>">
                    <p>02</p>
                    <p>Internal Structure</p>
                </div>
                <div id="geology" data-content="<%=data.geology.content%>" data-url="<%=data.images.geology%>" data-source="<%=data.geology.source%>">
                    <p>03</p>
                    <p>Surface geology</p>
                </div>
            </div>
           </div>
        </section>
    </section>
    <section class="description-section">
        <div>
            <p class="description-head">rotation time</p>
            <p class="description-data"><%=data.rotation %></p>
        </div>
        <div>
            <p class="description-head">revolution time</p>
            <p class="description-data"><%=data.revolution %></p>
        </div>
        <div>
            <p class="description-head">Radius</p>
            <p class="description-data"><%=data.radius %></p>
        </div>
        <div>
            <p class="description-head">Average Temp</p>
            <p class="description-data"><%=data.temperature %></p>
        </div>
    </section>
</body>
</html>